* {
  padding: 0;
  margin: 0;
  font-family:'Courier New', Courier, monospace;
  background-color: rgb(0, 0, 18);
  color: white;
}


.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%,-50%);
  box-shadow: 0 5px 20px 0 rgba(51, 93, 248, 0.747);
  transition: 0.3s;
  width: 50vw;
  height: 50vh;
  border-radius: 5px;
  padding: 2px 16px;
  background-color: #1F51FF;

}

.container{
  flex:1;
  background-color: #1F51FF;
}

.card:hover {
  box-shadow: 0 10px 40px 0 rgba(51, 93, 248, 0.747);
}


